<!-- Place details page -->

<h1><%= @place ["name"] %></h1>

<h2><%= @place ["created_at"] %>, <%= @place["created_at"] %></h2>

<h3>Entriess</h3>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>">
        <%= entry["name"] %>, <%= entry["created_at"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Contact</a>
</p>

<p><a href="/entries">Back to All Places</a></p>

<form action="/entries/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Place</button>
</form>